<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/ChrisWats/splurty">Chris</a>. A web developer who is looking for oppurtunites to improve his skills and help others achieve their own goals.
  </p>

  <br />

  <p>
    Currently improving his skills in coding. He is testing out new paths within the Information Technology field.
  </p>

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Chris.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Christopher Watson</h2>

      <br />

      <p>
        Chris Watson is an IT professional currently in Computer Repair. He has worked for the Amphitheater School District for five years.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />